# Ignore yt-dlp binaries (too large for git)
*.tmp
yt-dlp.exe
yt-dlp_macos
yt-dlp_linux
gallery-dl.exe
gallery-dl_macos
gallery-dl_linux
ffmpeg.exe
ffmpeg_macos
ffmpeg_linux
ffmpeg
ffmpeg/
ffprobe
ffprobe.exe
deno.exe
deno

# Local vendor-build marker written by `pnpm run build:ytdlp`
.ytdlp-vendored

# But keep the README
!README.md
!.gitignore
